  $red-input-errors: hsl(0, 100%, 66%);
  $active-input-border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  $light-grayish-violet: hsl(270, 3%, 87%);
  $dark-grayish-violet: hsl(279, 6%, 55%);
  $dark-violet: hsl(278, 68%, 11%);