@use "../assets/variables/variables" as v;

.card-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 24rem;
  padding: 2rem;
  transition: transform .25s ease-in-out;
}

label {
  text-transform: uppercase;
  color: v.$dark-violet;
  font-size: 16px;
  line-height: 3rem;
}

input {
  width: 100%;
  border-radius: v.$border-radius;
  border: 1px solid v.$dark-grayish-violet;
  padding: 12px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
}
.wrapper--rounded:hover {
  display: flex;
  width: 100%;
  height: 44px; /* to set the div visible, since without height it won't display if it does not have any elements inside */
  border: double 2px transparent;
  border-radius: v.$border-radius;
  background-image: linear-gradient(#fff, #fff),
    v.$active-input-border;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.wrapper--rounded:hover > input {
  border: none;
}

input:focus {
  outline: none;
}

.input--error{
  color: v.$red-input-errors;
  font-size: 13px;
  margin-top:  0.5rem;
  // transition: all 0.5s ease-in-out;
  // display: inline-block;
}

.invalid--input-outline{
  border: 1px solid v.$red-input-errors;
}

::placeholder {
  opacity: 0.6;
}

#mmyy-cvc {
  display: grid;
  margin-bottom: 2rem;
}

#mmyy-cvc-labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#mmyy-cvc-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 10px;
}

#mmyy-cvc-errors{
   display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas: "month year cvc";
  gap: 10px;
}

#month-error{
grid-area: month;
}

#year-error{
  grid-area: year;
}

#cvc-error{
  grid-area: cvc;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: white;
  background-color: v.$dark-violet;
  padding: 0.8rem;
  border-radius: v.$border-radius;
  border: none;
}

button:hover{
    opacity: 0.9;
}

.shake {
	animation: shake 0.7s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

	10%,
	90% {
		transform: translateX(-1px);
		background: v.$red-input-errors;
	}

	20%,
	80% {
		transform: translateX(2px);
	}

	30%,
	50%,
	70% {
		transform: translateX(-4px);
	}

	40%,
	60% {
		transform: translateX(4px);
	}
}

@media (min-width: 1440px) {
  .card-form{
    max-width: 30vw;
  }

label{
  font-size: 20px;
  line-height: 4rem;
}

}