@use "./assets/variables/variables";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App::before {
  content: "";
  height: 20rem;
}
.App::after {
  background-image: url(../src/assets/images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 40vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}

.bcg-slider::after {
	height:100% ; //css hack to select pseudoelement 
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

@media (min-width: 750px) {
  .App {
    flex-direction: row;
  }
  .App::after {
    height: 100vh;
    width: 35%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }

	.bcg-slider::after {
		width: 100% !important;
	}
}
